webapp/WEB-INF/hello.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
	xmlns:hello="http://spbstu.ru/hello/schemas"
	targetNamespace="http://spbstu.ru/hello/schemas"
	elementFormDefault="qualified">

	<xs:element name="helloRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="data" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="helloResponse" >
		<xs:complexType>
			<xs:sequence>
				<xs:element name="data" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>